@model Model.DAO.DataListAttribute
@ViewBag.id
@ViewBag.recordId
@*<div>
    <h4>DataListAttribute</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Key)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Key)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Term)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Term)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TemplateAttribute.Attribute)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TemplateAttribute.Attribute)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
