@model EHRWebApplication.Models.PatientRecordDetailsViewModel

@{
    ViewBag.Title = "Detalhes - Consulta/Procedimento";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>@Model.OptName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doctor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doctor)
        </dd>
        
        @foreach (var item in Model.Data)
        {
            <dt>
                @Html.DisplayFor(modelItem => item.TemplateAttribute.Attribute)
            </dt>

                if (item.TemplateAttribute.Type == "LIST") {
                    
                    var attribute = item.TemplateAttribute.DataListAttributes
                                                    .Select(data => new { data.Value, data.AttributeId })
                                                    .FirstOrDefault(data => data.AttributeId == item.TemplateAttributeId);

                    <dd>
                        @Html.DisplayFor(modelItem => attribute.Value)
                    </dd>
                }
                else
                {
                    <dd>
                        @Html.DisplayFor(modelItem => item.Value)
                    </dd>
                }
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Voltar para a lista", "Index", new { id = Model.PatientId })
</p>
