@model IEnumerable<EHRWebApplication.Models.PatientRecordViewModel>

@{
    ViewBag.Title = "Procedimentos/Consultas realizadas";
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OptName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doctor)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OptName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor)
            </td>
            <td>
                @Html.ActionLink("Detalhes", "Details", new { recordId = item.Id })
                
            </td>
        </tr>
    }

</table>
