@model EHRWebApplication.Models.PatientDetailsViewModel

@{
    ViewBag.Title = "Perfil";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Dados do Usuário</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Birth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Birth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EhrNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EhrNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar dados", "Edit", new { id = Model.Id }) |

    @{
        var role = (int)Session["role"];

        if (role == 1)
        {
            @Html.ActionLink("Voltar para a lista", "Index")
        }
        else
        {
            @Html.ActionLink("Meus procedimentos", "Index", "PatientRecords", new { id = Model.Id }, null)
        }
    }
    
</p>
